<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Mes trajets</ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!data || !data.moves || !data.moves.length">
    <ion-card-header>
      <ion-card-subtitle>{{displayDateNoDataToday()}}</ion-card-subtitle>
      <ion-card-title>Pas de données</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Pas de données pour ce jour. L'avez-vous synchronisé ?
    </ion-card-content>
  </ion-card>

  <!-- Car settings -->
  <ion-card *ngFor="let move of data.moves">
    <ion-fab-button size="small" color="light" class="pro-or-perso-move" (click)="toggleProStatusMove($event, move)">
      <ion-icon name="business" *ngIf="move.professional"></ion-icon>
      <ion-icon name="person" *ngIf="!move.professional"></ion-icon>
    </ion-fab-button>
    

    <ion-img [src]="move.mapURL" class="map-move"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{(move && move.begin) ? (displayDateSubtitleMove(move.begin)) : ''}}</ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-label>Déplacement</ion-label>
          <ion-select [value]="move.type" (ionChange)="updateMoveType($event, move)">
            <ion-select-option value="car">en voiture</ion-select-option>
            <ion-select-option value="train">en train</ion-select-option>
            <ion-select-option value="bus">en bus</ion-select-option>
            <ion-select-option value="subway">en métro</ion-select-option>
            <ion-select-option value="plane">en avion</ion-select-option>
            <ion-select-option value="tramway">en tramway</ion-select-option>
            <ion-select-option value="moto">en moto</ion-select-option>
            <ion-select-option value="bike">en vélo</ion-select-option>
            <ion-select-option value="walk">à pied</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="settings-move settings-move-car" *ngIf="move.type == 'car'">        
        <ion-item>
          <ion-label>Véhicule</ion-label>
          <ion-select [value]="move.carType || getDefaultSubmode('car')" (ionChange)="updateCarType($event, move)">
            <ion-select-option value="averageCarAdeme">Moyen</ion-select-option>
            <ion-select-option value="averageCarPetrolAdeme">Moyen essence</ion-select-option>
            <ion-select-option value="averageCarDieselAdeme">Moyen diesel</ion-select-option>
            <ion-select-option value="compactElectric">Véhicule compacte électrique</ion-select-option>
            <ion-select-option value="sedanElectric">Véhicule berline électrique</ion-select-option>
            <!--
            <ion-select-option value="m">Véhicule 2</ion-select-option>
            <ion-select-option value="m">Véhicule 3</ion-select-option>
            -->
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label>
            Nombre de personnes
          </ion-label>
          <ion-select value="{{move.nbPeopleCar || getAverageNumberOfPeopleInACar(move)}}" (ionChange)="updateNbPeopleCar($event, move)">
            <ion-select-option value="{{getAverageNumberOfPeopleInACar(move)}}">{{Ecology.CO2table.car.averageNumberOfPeopleInACar}}</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <!-- Train settings -->
      <ion-list class="settings-move settings-move-train" *ngIf="move.type == 'train'">        
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select (ionChange)="updateTrainType($event, move)">
            <ion-select-option value="">Non précisé</ion-select-option>
            <ion-select-option value="TGV">TGV</ion-select-option>
            <ion-select-option value="RER">RER</ion-select-option>
            <ion-select-option value="TER">TER</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    <!-- Walk settings -->
    <div  *ngIf="move.type == 'walk'">        
      <ion-item>
        <ion-icon name="fitness-outline" slot="end"></ion-icon>
        <ion-label>Rien de mieux pour la santé !</ion-label>
      </ion-item>
    </div>
  </ion-card-content>

    
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="text-center">
            <ion-icon name="leaf-outline"></ion-icon><br />
            <strong>{{move.CO2.toFixed(2)}}</strong><br />kgCO2eq
        </ion-col>
        <ion-col class="text-center">
            <ion-icon name="analytics-outline"></ion-icon><br />
            {{move.distance.toFixed(1)}}<br />km
        </ion-col>
        <ion-col class="text-center">
            <ion-icon name="time-outline"></ion-icon><br />
            {{move.duration ? (move.duration/1000/60).toFixed(0) : '?'}}<br />min
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    
    <ion-item>
      <ion-icon name="chevron-back-outline" slot="start" (click)="leftArrow()"></ion-icon>
      <ion-title>
        <ion-datetime displayFormat="DD MM YYYY" [value]="selectedDate.toISOString()" [max]="maxPickingDate.toISOString()" (ionChange)="updateSelectedTime($event)"></ion-datetime>
      </ion-title>
      <ion-icon name="chevron-forward-outline" slot="end" (click)="rightArrow()"></ion-icon>
    </ion-item>
    
  </ion-toolbar>
</ion-footer>