<ion-header>
  <ion-toolbar>

    <ion-title>{{ 'timeline.MY_MOVES' | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button id="delete-move-day" (click)="deleteMovesOfToday()">
        <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!data || !data.moves || !data.moves.length">
    <ion-card-header>
      <ion-card-subtitle>{{displayDateNoDataToday()}}</ion-card-subtitle>
      <ion-card-title>{{ 'timeline.NO_DATA' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ 'timeline.NO_DATA_EXPLANATION' | translate }}
    </ion-card-content>
  </ion-card>

  <!-- Car settings -->
  <ion-card *ngFor="let move of data.moves">
    <ion-fab-button size="small" color="light" class="pro-or-perso-move" (click)="toggleProStatusMove($event, move)">
      <ion-icon name="business" *ngIf="move.professional"></ion-icon>
      <ion-icon name="person" *ngIf="!move.professional"></ion-icon>
    </ion-fab-button>
    

    <ion-img [src]="move.mapURL" class="map-move"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{(move && move.begin) ? (displayDateSubtitleMove(move.begin)) : ''}}</ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-label>{{ 'timeline.move' | translate }}</ion-label>
          <ion-select [value]="move.type" (ionChange)="updateMoveType($event, move)">
            <ion-select-option value="car">{{ 'general.by' | translate }} {{ 'general.car' | translate | lowercase }}</ion-select-option>
            <ion-select-option value="train">{{ 'general.by' | translate }} {{ 'general.train' | translate | lowercase }}</ion-select-option>
            <ion-select-option value="bus">{{ 'general.by' | translate }} {{ 'general.bus' | translate | lowercase }}</ion-select-option>
            <ion-select-option value="subway">{{ 'general.by' | translate }} {{ 'general.subway' | translate | lowercase }}</ion-select-option>
            <ion-select-option value="plane">{{ 'general.by' | translate }} {{ 'general.plane' | translate | lowercase }}</ion-select-option>
            <ion-select-option value="tramway">{{ 'general.by' | translate }} {{ 'general.tramway' | translate | lowercase }}</ion-select-option>
            <ion-select-option value="moto">{{ 'general.by' | translate }} {{ 'general.moto' | translate | lowercase }}</ion-select-option>
            <ion-select-option value="bike">{{ 'general.by' | translate }} {{ 'general.bike' | translate | lowercase }}</ion-select-option>
            <ion-select-option value="walk">{{ 'general.byFoot' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="settings-move settings-move-car" *ngIf="move.type == 'car'">        
        <ion-item>
          <ion-label>{{ 'timeline.vehicle' | translate }}</ion-label>
          <ion-select [value]="move.carType || getDefaultSubmode('car')" (ionChange)="updateCarType($event, move)">
            <ion-select-option value="averageCarAdeme">{{ 'timeline.average' | translate }}</ion-select-option>
            <ion-select-option value="averageCarPetrolAdeme">{{ 'timeline.averagePetrol' | translate }}</ion-select-option>
            <ion-select-option value="averageCarDieselAdeme">{{ 'timeline.averageDiesel' | translate }}</ion-select-option>
            <ion-select-option value="compactElectric">{{ 'timeline.compactElectricVehicle' | translate }}</ion-select-option>
            <ion-select-option value="sedanElectric">{{ 'timeline.sedanElectricVehicle' | translate }}</ion-select-option>
            <!--
            <ion-select-option value="m">Véhicule 2</ion-select-option>
            <ion-select-option value="m">Véhicule 3</ion-select-option>
            -->
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label>
            {{ 'timeline.nbPeople' | translate }}
          </ion-label>
          <ion-select value="{{move.nbPeople || getAverageNumberOfPeopleInACar(move)}}" (ionChange)="updatenbPeople($event, move)">
            <ion-select-option value="{{getAverageNumberOfPeopleInACar(move)}}">{{ Ecology.CO2table.car.averageNumberOfPeopleInACar }}</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <!-- Train settings -->
      <ion-list class="settings-move settings-move-train" *ngIf="move.type == 'train'">        
        <ion-item>
          <ion-label>{{ 'timeline.type' | translate }}</ion-label>
          <ion-select (ionChange)="updateTrainType($event, move)">
            <ion-select-option value="">{{ 'timeline.unspecified' | translate }}</ion-select-option>
            <ion-select-option value="TGV">{{ 'timeline.TGV' | translate }}</ion-select-option>
            <ion-select-option value="RER">{{ 'timeline.RER' | translate }}</ion-select-option>
            <ion-select-option value="TER">{{ 'timeline.TER' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    <!-- Walk settings -->
    <div  *ngIf="move.type == 'walk'">        
      <ion-item>
        <ion-icon name="fitness-outline" slot="end"></ion-icon>
        <ion-label>{{ 'timeline.commentGoodForHealth' | translate }}</ion-label>
      </ion-item>
    </div>
  </ion-card-content>

    
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="text-center">
            <ion-icon name="leaf-outline"></ion-icon><br />
            <strong>{{move.CO2.toFixed(2)}}</strong><br />kgCO2eq
        </ion-col>
        <ion-col class="text-center">
            <ion-icon name="analytics-outline"></ion-icon><br />
            {{move.distance.toFixed(1)}}<br />km
        </ion-col>
        <ion-col class="text-center">
            <ion-icon name="time-outline"></ion-icon><br />
            {{move.duration ? (move.duration/60).toFixed(0) : '?'}}<br />min
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-move/{{year}}/{{month+1}}/{{day}}">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    
    <ion-item>
      <ion-icon name="chevron-back-outline" slot="start" (click)="leftArrow()"></ion-icon>
      <ion-title class="ion-text-center">
        <ion-datetime displayFormat="DD MM YYYY" [value]="selectedDate.toISOString()" [max]="maxPickingDate.toISOString()" (ionChange)="updateSelectedTime($event)"></ion-datetime>
      </ion-title>
      <ion-icon name="chevron-forward-outline" slot="end" (click)="rightArrow()"></ion-icon>
    </ion-item>
    
  </ion-toolbar>
</ion-footer>