
<ion-content padding scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
      <img src="/assets/icon/logo-carbonsum.svg" class="margin-top-logo" />
      <h2 class="font-size-name">CarbonSum</h2>

      <img src="/assets/images/foodDeliveryColour.svg" />
      <p class="margin-top-paragraph">{{ 'intro.carbonFootprintReport' | translate }}</p>

      <div class="center-max-width margin-top-button">
        <ion-button color="tertiary" expand="block" size="large" (click)="slideNext()">{{ 'intro.continue' | translate }}</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="/assets/icon/logo-carbonsum.svg" class="margin-top-logo" />
      <h2 class="font-size-name">CarbonSum</h2>

      <img src="/assets/images/googleMapsIntroduction.png" />
      <p>{{ 'intro.csUsesGmaps' | translate }}</p>
      <p>{{ 'intro.possibleToManuallyAddTrips' | translate }}</p>
 
      <div class="center-max-width margin-top-button">
        <ion-button color="tertiary" expand="block" size="large" (click)="slideNext()">{{ 'intro.continue' | translate }}</ion-button>
      </div>
    </ion-slide>

    <!--
    <ion-slide>
      <img src="/assets/icon/help_google_maps_timeline.png"/>
      <h2>Activation de l'historique de position</h2>
      <p>Au cas où cela ne serait pas déjà fait. Il est aisé d'activer l'historique de position depuis l'application Google Maps de votre téléphone.</p>
    </ion-slide>
    -->

    <ion-slide>
      <img src="/assets/icon/logo-carbonsum.svg" class="margin-top-logo" />
      <h2 class="font-size-name">CarbonSum</h2>

      <img src="/assets/images/hikerManColour.svg" />
      <p class="margin-top-paragraph">{{ 'intro.howToDecreaseCarbonImpact' | translate }}</p>

      <div class="center-max-width margin-top-button">
        <ion-button color="tertiary" expand="block" size="large" (click)="slideNext()">{{ 'intro.continue' | translate }}</ion-button>
      </div>
    </ion-slide>

    <!--
    <ion-slide>
      <img src="/assets/icon/carbonsum2.png"/>
      <p>Parmis tous les scénarios climatiques qui nous sont proposés. Choississons le bon.</p>
      <ion-button fill="clear" [routerDirection]="'root'" [routerLink]="'/home'">Continuer <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
    -->

    <ion-slide>
      <img src="/assets/icon/logo-carbonsum.svg" class="margin-top-logo" />
      <h2 class="font-size-name">CarbonSum</h2>

     <p class="explanation-google-maps">{{ 'intro.csUsesGmaps' | translate }}</p>

     <div class="center-max-width">
      <ion-button expand="block" color="light" class="connection-google" (click)="clickGoogleButton()">
        <ion-icon src="/assets/images/google.svg"></ion-icon>
        {{ 'intro.connectWithGoogle' | translate }}
      </ion-button>
    </div>
    <hr>
      <p class="small-infos">
        {{ 'intro.weDoNotUseYourData' | translate }}
      </p>
      <p class="small-infos">
        {{ 'intro.youCanStop' | translate }}
      </p>

      <div class="center-max-width">
        <ion-button color="tertiary" href="/home" (click)="checkIntroSeen()">{{ 'intro.ignore' | translate }}</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
