<ion-header>
  <ion-toolbar translucent>
    <ion-title>Bienvenue sur CarbonSum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
      <img src="/assets/icon/carbonsum.png"/>
      <h2>Bienvenue sur <b>CarbonSum</b></h2>
      <p>Vous allez découvrir comment CarbonSum va vous permettre d'effectuer le <b>bilan carbone</b> de vos déplacements.</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/icon/google-maps.svg"/>
      <h2>CarbonSum utilise l'historique de position de Google Maps</h2>
      <p>Inutile de devoir rentrer un à un vos déplacements. Nous nous occupons de les <b>synchroniser</b>.</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/icon/help_google_maps_timeline.png"/>
      <h2>Activation de l'historique de position</h2>
      <p>Au cas où cela ne serait pas déjà fait. Il est aisé d'activer l'historique de position depuis l'application Google Maps de votre téléphone.</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/icon/carbonsum2.png"/>
      <p>Parmis tous les scénarios climatiques qui nous sont proposés. Choississons le bon.</p>
      <ion-button fill="clear" [routerDirection]="'root'" [routerLink]="'/home'">Continuer <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
