<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="star"></ion-icon>
      <ion-label>{{ 'menu.dashboard' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timeline">
      <ion-icon name="navigate-circle-outline"></ion-icon>
      <ion-label>{{ 'menu.timeline' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>{{ 'menu.settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>