h1 {
    margin-bottom: 15px;
}

img {
    margin-top: 15px;
    margin-bottom: 15px;
}

table {
    text-align: center;
    margin: auto;
}

th {
    padding-right: 5px;
    padding-left: 5px;
}