<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>

    <ion-title>{{ "infos.learnMore" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h1>{{ 'infos.carbonFootprint?' | translate }}</h1>
      <p>
        {{ 'infos.carbonFootprintExplanation' | translate }}
      </p>

      <p>
        {{ 'infos.carbonsumPartialReport' | translate }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h1>{{ 'infos.howIsItComputed?' | translate }}</h1>
      <p>
        {{ 'infos.historyPosition' | translate }}
      </p>
      <p>
        {{ 'infos.whereDataFrom' | translate }}
      </p>
      <p style="margin: auto; text-align: center;">
          <a href="https://www.ademe.fr/"><img src="/assets/ADEME_logo.svg" alt="Logo ADEME" /></a>
      </p>
      <p>
        {{ 'infos.eCO2Explanation' | translate }}
      </p>
      <p>
        {{ 'infos.seeBelowForData' | translate }}
      </p>

      <table>
          <caption>{{ 'infos.dataTableTitle' | translate }}</caption>
          <thead>
            <tr>
              <th>{{ 'infos.meansOfTransportation' | translate }}</th>
              <th>{{ 'general.gCO2e-passenger-km' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'infos.carAverage' | translate }}</td>
              <td>{{ CO2table.car.averageCarAdeme }}</td>
            </tr>
            <tr>
              <td>{{ 'infos.carAveragePetrol' | translate }}</td>
              <td>{{ CO2table.car.averageCarPetrolAdeme }}</td>
            </tr>
            <tr>
              <td>{{ 'infos.carAverageDiesel' | translate }}</td>
              <td>{{ CO2table.car.averageCarDieselAdeme }}</td>
            </tr>
            <tr>
              <td>{{ 'infos.carCompactElectric' | translate }}</td>
              <td>{{ CO2table.car.compactElectric }}</td>
            </tr>
            <tr>
              <td>{{ 'infos.carSedanElectric' | translate }}</td>
              <td>{{ CO2table.car.sedanElectric }}</td>
            </tr>
            <tr>
              <td>{{ 'infos.TGV' | translate }}</td>
              <td>{{ CO2table.train.TGV }}</td>
            </tr>
            <tr>
              <td>{{ 'infos.RER' | translate }}</td>
              <td>{{ CO2table.train.RER }}</td>
            </tr>
            <tr>
              <td>{{ 'infos.TER' | translate }}</td>
              <td>{{ CO2table.train.TER }}</td>
            </tr>
            <tr>
              <td>{{ 'infos.subway' | translate }}</td>
              <td>{{ CO2table.subway }}</td>
            </tr>
            <tr>
              <td>{{ 'infos.bus' | translate }}</td>
              <td>{{ CO2table.bus }}</td>
            </tr>
            <tr>
              <td>{{ 'infos.tramway' | translate }}</td>
              <td>{{ CO2table.tramway }}</td>
            </tr>
            <tr>
              <td>{{ 'infos.moto' | translate }}</td>
              <td>{{ CO2table.moto }}</td>
            </tr>
          </tbody>
        </table>
      <p [translate]="'infos.explanationAvgPeopleCar'" [translateParams]="{ avgNbPeopleCar: CO2table.averageNumberOfPeopleInACar }">
      </p>
      <hr>
      <p>
       {{ 'infos.planeExplanation' | translate }}
      </p>
      <table>
        <caption>{{ 'infos.emissionFactorPlane' | translate }}</caption>
        <thead>
          <tr>
            <th>{{ 'infos.type' | translate }}</th>
            <th>{{ 'infos.distance' | translate }}</th>
            <th>{{ 'general.gCO2e-passenger-km' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ 'infos.shortHaul' | translate }}</td>
            <td>{{ 'infos.shortHaulDistance' | translate }}</td>
            <td>{{ CO2table.plane.distanceToCO2(500) }}</td>
          </tr>
          <tr>
            <td>{{ 'infos.middleHaul' | translate }}</td>
            <td>{{ 'infos.middleHaulDistance' | translate }}</td>
            <td>{{ CO2table.plane.distanceToCO2(2000) }}</td>
          </tr>
          <tr>
            <td>{{ 'infos.longHaul' | translate }}</td>
            <td>{{ 'infos.longHaulDistance' | translate }}</td>
            <td>{{ CO2table.plane.distanceToCO2(10000) }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h1>{{ 'infos.carbonsumReliable?' | translate }}</h1>
      <p>
        {{ 'infos.carbonsumReliableGMaps' | translate }}
      </p>
      <p>
        {{ 'infos.uncertaintyData' | translate }}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h1>{{ 'infos.canIUseCSEverywhere' | translate }}</h1>
      <p>
        {{ 'infos.carbonsumUsesFrenchData' | translate }}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h1>{{ 'infos.whatCanIDoDecreaseCarbonFootprint' | translate }}</h1>
      <p>
        {{ 'infos.toDecreaseCarbonFootprintTransport' | translate }}
      </p>
      <p>
        {{ 'infos.youCanAlsoOffset' | translate }}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h1>{{ 'infos.howToGiveFeedback' | translate }}</h1>
      <p>
        {{ 'infos.gForm' | translate }}<br />
        <a href="https://forms.gle/eCZBC1KQ54i9mckD6">{{ 'infos.giveFeedbackCS' | translate }}</a>
      </p>
      <p>
        {{ 'infos.emailAlsoAvailable' | translate }} <a href="mailto:alexis@getcarbonsum.app">alexis@getcarbonsum.app</a>
      </p>
      <p>
        {{ 'infos.giveFeedbackSocialNetworks' | translate }}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
