<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="AppVersion">
    <param name="ios-package" value="AppVersion"/>
  </feature>

  <feature name="Badge">
    <param name="ios-package" value="APPBadge"/>
  </feature>

  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser"/>
    <param name="onload" value="true"/>
  </feature>
  <feature name="UIInAppBrowser">
    <param name="ios-package" value="CDVUIInAppBrowser"/>
    <param name="onload" value="true"/>
  </feature>
  <feature name="WKInAppBrowser">
    <param name="ios-package" value="CDVWKInAppBrowser"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="LocalNotification">
    <param name="ios-package" value="APPLocalNotification"/>
  </feature>

  <feature name="CDVOrientation">
    <param name="ios-package" value="CDVOrientation"/>
  </feature>

  <feature name="SocialSharing">
    <param name="ios-package" value="SocialSharing"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Device">
    <param name="ios-package" value="CDVDevice"/>
  </feature>

  <preference name="WKWebViewOnly" value="true" />
  <feature name="CDVWKWebViewEngine">
    <param name="ios-package" value="CDVWKWebViewEngine" />
  </feature>
  <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
  <preference name="AllowBackForwardNavigationGestures" value="true" />
  <preference name="Allow3DTouchLinkPreview" value="false" />

  <preference name="scheme" value="app" />
  <preference name="hostname" value="localhost"  /> 

  <preference name="ScrollEnabled" value="false" />
  <preference name="android-minSdkVersion" value="19" />
  <preference name="BackupWebStorage" value="none" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="FadeSplashScreenDuration" value="300" />
  <preference name="SplashShowOnlyFirstTime" value="false" />
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
</widget>