<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'settings.TITTLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'settings.LANGUAGE' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-select [(ngModel)]="language" (ionChange)='languageChange()' [value]='language'>
        <ion-select-option value='fr'>Français</ion-select-option>
        <ion-select-option value='en'>English</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>

  <p class="social-icons" style="text-align: center;">
    <a href="https://twitter.com/carbonsum_app/" target="_blank">
      <ion-icon size="large" name="logo-twitter"></ion-icon>
    </a>

    <a href="https://www.instagram.com/carbonsum/" target="_blank">
      <ion-icon size="large" name="logo-instagram"></ion-icon>
    </a>

    <a href="https://www.facebook.com/groups/403864357665295/" target="_blank">
      <ion-icon size="large" name="logo-facebook"></ion-icon>
    </a>
  </p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'settings.SETTINGS' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">{{ 'settings.objective' | translate }} ({{ 'settings.year' | translate }})</ion-label>
          <ion-range min="{{ currentYear }}" max="2100" pin [(ngModel)]="objectiveYear" (ionChange)="updateobjectiveCO2()">
            <ion-label slot="start">{{ currentYear }}</ion-label>
            <ion-label slot="end">2100</ion-label>
          </ion-range>

          <div style="margin: auto; text-align: center;">
            <h1>{{ objectiveCO2 }}</h1> kgCO2e
          </div>
          <p style="text-align: justify; color: grey;">
            {{ 'settings.explanationObjective' | translate }}
          </p>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{ 'settings.synchronizeUntil' | translate }}</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" min="2010-01-01" [max]="todayUSFormat" [value]="synchronizeUntil" (ionChange)="updateSynchronizeUntil($event)"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'settings.INFOS' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{ 'settings.howWeUseGmaps' | translate }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card color="warning" *ngIf="language == 'en'">
    <ion-card-content>
      <p>
        We would like to acknowledge you that CarbonSum uses only French data for now. Depending of your location, it may not be 100% relevant. To make us implement your contry data, please send us an email.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'settings.ADVANCED_SETTINGS' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button size="small" expand="block" class="small-padding" target="_blank" routerLink="/help">
        {{ 'settings.helpPage' | translate }}
      </ion-button>

      <hr>

      <ion-button size="small" expand="block" class="small-padding" (click)="reportABug()">
        {{ 'settings.reportABug' | translate }}
        <ion-icon name="arrow-redo-outline" style="margin-left: 10px;"></ion-icon>
      </ion-button>

      <hr>

      <ion-button size="small" expand="block" class="small-padding" (click)="deleteLocalData()">
        {{ 'settings.deleteDownloadedData' | translate }}
      </ion-button>

      <hr>

      <ion-button size="small" expand="block" class="small-padding" [routerDirection]="'root'" [routerLink]="'/intro'">
        {{ 'settings.seeAgainPresentation' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
